

    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="{{path('articles')}}">
        <img src="{{asset('logoHeader.svg')}}" width="30" height="30" class="d-inline-block align-top" alt="">
        L'actu qui tue
        </a>
    </nav>
